h1.ui.header {{'Node'|translate}} {{obj.name}}
	.sub.header MAC: {{obj.mac}}
		a(ui-sref='monitormap.map({c:"{{obj.lat}}\:{{obj.lon}}\:16"})')
			i.icon.marker
form.ui.form(ng-submit='save()')
	.field
		label Name
		input(ng-model='obj.name')
	.field
		label Mac
		input(ng-model='obj.mac')
	.field
		label Owner
		input(ng-model='obj.owner')
	.field
		label Parent
		select(ng-model='obj.parent_id',placeholder='Parent',ng-options='opt.id as opt.name for opt in nodes_list')
	.field
		label Channel 2.4
		.fields.two
			select(ng-model='obj.channel_24',placeholder='Channel',ng-options='opt for opt in channels_24')
			.field
				input(ng-model='obj.channel_24_power',placeholder='Tx Power')
	.field
		label Channel 5.0
		.fields.two
			.field
				select(ng-model='obj.channel_50',placeholder='Channel',ng-options='opt for opt in channels_50')
			.field
				input(ng-model='obj.channel_50_power',placeholder='Tx Power')
	.ui.primary.button(ng-class="{'loading':loading}",ng-click="save()") Save
.ui.card
	div
		leaflet(
			width='100%',
			height='250px',
			center='center',
			markers='markers',
			tiles='tiles'
		)
	.ui.bottom.attached.button(ng-click='center.autoDiscover=true')
		i.icon.location.arrow
		| Orten
