h1.ui.header Nodes
	.sub.header
		i.icon.map
		| Map
.ui.menu.secondary
	a.ui.item(ng-click='center.autoDiscover=true')
		i.icon.location.arrow
		| {{'Where I am'|translate}}
leaflet(
	width='100%',
	height='480px',
	center='center',paths='paths',
	markers='markers',

	tiles='tiles',
	event-broadcast='events',
	url-hash-center='yes'
)
